<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="icon-hero-section" src="./img/Fondo_Negro.jpg" alt="icono">
        </div>
        <h1>Welcome to Lorem ipsum</h1>
        <h2>Lorem ipsum <span class="rotating">1ro, 2do, 3ro</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Sobre nosotros</a>
          <a href="#services" class="btn-services">Nuestros servicios</a>
        </div>
      </div>
    </div>
  </section>
  <!--==========================
  Sección de encabezado
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <a href="#hero"><img src="./img/fondoblanco.jpg" alt="icono" title="" /></img></a>
        <!-- Descomenta abajo si prefieres usar una imagen de texto -->
        <!--<h1><a href="#hero">Encabezado 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#subscribe">Work with us</a></li>
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contactanos</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Sobre nosotros</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt tenetur quisquam reiciendis itaque sequi explicabo</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">title</h2>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate
          </p>
          <p class="about-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">servicios</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-road"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title">Lorem Ipsum</h4>
          <p class="service-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, laboriosam numquam incidunt</p>
        </div>
      </div>
    </div>
  </section>
  

   <!-- ========================
  Work with us Section
  ============================ -->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Work with us</h3>
          <p class="subscribe-text">Trabaja en la empresa junto con nosotros.</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="/work.html">Leer Más</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Team Section
  ===========================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Nuestro equipo</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/Fondo_Negro.jpg" alt=""></div>
            <h4>Nombre</h4>
            <span>Puesto de trabajo</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/Fondo_Negro.jpg" alt=""></div>
            <h4>Nombre</h4>
            <span>Puesto de trabajo</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/Fondo_Negro.jpg" alt=""></div>
            <h4>Nombre</h4>
            <span>Puesto de trabajo</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/Fondo_Negro.jpg" alt=""></div>
            <h4>Nombre</h4>
            <span>Puesto de trabajo</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contactanos</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum nobis in libero</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>dirección<br>ubicacion, etc</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>correro empresa</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>numero telefonico empresa</p>
            </div>

          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form role="form" id="contactForm1" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" data-rule="minlen:4" data-msg="Por favor ingrese al menos 4 caracteres" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" data-rule="email" data-msg="Ingresa un Correo Valido" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Tema" data-rule="minlen:4" data-msg="Por favor ingrese al menos 8 caracteres del tema" />
                <div class="validation"></div>
              </div> 
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escribe algo para nosotros" placeholder="Mensaje" ></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Enviar mensaje</button></div>
            </form>
          </div>
        </div>
        
      </div>
    </div>
      <div class="margintop"">
        <div class="wrapper">
          <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18921.983512031715!2d-75.22308286687505!3d4.437707922600234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38c4eae16bd425%3A0x167562bbb74b6fe3!2zNMKwMjYnMDMuOCJOIDc1wrAxMycyMi4xIlc!5e0!3m2!1ses!2sco!4v1650386580312!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
  </section>

  <!--==========================
  Footer
============================ -->
  

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>information</h4>
          <ul>
            <li><a href="#about">about us</a></li>
            <li><a href="#services">services</a></li>
            
            <li><a href="#team">our team</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>for you</h4>
          <ul>
            <li><a href="#contact">contact us</a></li>
            <li><a href="./work.html">work with us</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>extra</h4>
          <ul>
            <li><a href="" target="blank">.</a></li>
            <li><a href="" target="blank">.</a></li>
            <li><a href="" target="blank">.</a></li>
            <li><a class="footer-icons" href="https://azure.microsoft.com/es-mx/free/search/?&ef_id=Cj0KCQjwmPSSBhCNARIsAH3cYgba6szZaaj3ljtRXptE5zXtV8hQdOC6B5cqItqA339d65RKG4IHhJQaAsWyEALw_wcB:G:s&OCID=AID2200166_SEM_Cj0KCQjwmPSSBhCNARIsAH3cYgba6szZaaj3ljtRXptE5zXtV8hQdOC6B5cqItqA339d65RKG4IHhJQaAsWyEALw_wcB:G:s&gclid=Cj0KCQjwmPSSBhCNARIsAH3cYgba6szZaaj3ljtRXptE5zXtV8hQdOC6B5cqItqA339d65RKG4IHhJQaAsWyEALw_wcB" target="blank"><img src="./img/Microsoft_Azure_Logo.png" alt=""></a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="" ><i class="fab fa-facebook-f"></i></a>
            <a href="" ><i class="fab fa-twitter"></i></a>
            <a href="" ><i class="fab fa-instagram"></i></a>
            <a href="" ><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
 </footer>
 <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Nombre empresa</strong>. All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>
  <script src="contactform/sendForm.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>